{% extends "index-2.html" %}


{% block content %}
<div class="main-panel">
    <div class="page-header">
        <h3 class="page-title">
           Rejected restaurants
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Basic Sortable Table</h4>
                    <p class="page-description">Add class <code>.sortable-table</code></p>
                    <div class="row">
                        <div class="table-sorter-wrapper col-lg-12 table-responsive">
                            <table id="sortable-table-1" class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="sortStyle">Name<i class="fa fa-angle-down"></i></th>
                                        <th class="sortStyle">Owner<i class="fa fa-angle-down"></i></th>
                                        <th class="sortStyle">Phone<i class="fa fa-angle-down"></i></th>
                                        <th class="sortStyle">Email<i class="fa fa-angle-down"></i></th>
                                        <th class="sortStyle">Place<i class="fa fa-angle-down"></i></th>
                                        <th class="sortStyle">Status<i class="fa fa-angle-down"></i></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for restaurant in restaurants %}
                                    <tr>

                                        <td>{{restaurant.pk}}</td>
                                        <td>{{restaurant.name}}</td>
                                        <td>{{restaurant.owner_name}}</td>
                                        <td>{{restaurant.phone}}</td>
                                        <td>{{restaurant.email}}</td>
                                        <td>{{restaurant.location}}</td>
                                        <td><label class="badge badge-danger badge-pill">{{restaurant.status}}</label></td>


                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}